/* Estilizando a introducao para que a imagem e o texto fiquem lado a lado */
.introducao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.introducao img {
  max-width: 50%;
  height: auto;
  margin-right: 20px;
}

.introducao div {
  max-width: 50%;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

.introducao p {
  font-size: 1.5rem;
  color: darkgray;
}

/* Ajustes para telas menores */
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    flex-direction: column;
    align-items: center;
  }

  .introducao img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .introducao h1 {
    font-size: 2rem;
  }
}
